<p id="notice"><%= notice %></p>

<h1>Swms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @swms.each do |swm| %>
      <tr>
        <td><%= link_to 'Show', swm %></td>
        <td><%= link_to 'Edit', edit_swm_path(swm) %></td>
        <td><%= link_to 'Destroy', swm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swm', new_swm_path %>
